@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');

@font-face { 
  font-family: "Impact";
  src: url("assets/font/impact.ttf"); 
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(30deg, #171717 30%, #171717 100%);
  color: #fff;
}

p {
  font-size: 16px;
}

div {
  font-size: 16px;
}

hr {
  background-color: #fff;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled {
  background: transparent;
  box-shadow: none;
  color: #fff;
  border: 2px solid white;
}

.btn-primary:hover {
  color: #000;
  background: #fff;
  border: 2px solid white;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:disabled {
  background: white;
  border-color: black;
  box-shadow: none;
  color: black;
  border: 2px solid black;
}

.btn-secondary:hover {
  color: black;
  border-color: #ffffff;
  background: #ffffff;
  border: 2px solid black;
}

.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.img-thumbnail {
  background-color: transparent;
}

.modal-content {
  color: black;
}

.span-link:hover {
  color: #1c1b1b;
  text-decoration: none;
  cursor: pointer;
}

.span-link {
  text-decoration: underline;
}

.Vue-Toastification__toast--info {
  background-color: #3a1174;
}

.Vue-Toastification__toast--success {
  background-color: #4b7411;
}

.Vue-Toastification__toast--error {
  background-color: #741911;
}

@media only screen and (max-width: 767px) {
  #sidebar-container {
    margin-bottom: 15px;
  }
}